[Unit]
Description=Meteor IP Cam Recorder Service
Documentation=https://github.com/boonya/meteor-recorder
Requires=docker.service
After=docker.service
After=network.target

[Service]
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
ExecReload=/usr/local/bin/docker-compose restart

TimeoutStartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
